.hum_bergur_wrap {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 15px 25px -7px rgba(9, 136, 183, 0.2);
  .hum_search_wrap {
    display: flex;
    flex: 0.5;
    align-items: center;
    justify-content: center;
    @media (max-width: 500px) {
      //   display: none;
    }
  }
  .hum_search_container {
    background: #0ebeff;
    height: 35px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
  }

  .hum_search_container:hover > .hum_search_input {
    width: 100px;
  }

  .hum_search_container .hum_search_input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
  }

  .hum_search_container .hum_search_btn .hum_fas {
    color: #fff;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  ::placeholder {
    color: #fff;
  }

  @keyframes hoverShake {
    0% {
      transform: skew(0deg, 0deg);
    }
    25% {
      transform: skew(5deg, 5deg);
    }
    75% {
      transform: skew(-5deg, -5deg);
    }
    100% {
      transform: skew(0deg, 0deg);
    }
  }

  .hum_search_container:hover {
    animation: hoverShake 0.15s linear 3;
  }

  .hum_nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
    }

    .hum_home,
    .hum_blog,
    .hum_code,
    .hum_about,
    .hum_help {
      width: auto;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 0px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 0px;
      margin: 0px;
      color: #0ebeff;
      position: static;
      z-index: 1;
      cursor: pointer;
      transition: all 0.2s ease;
      @media (max-width: 480px) {
        font-size: 14px;
      }
      @media (max-width: 370px) {
        margin: 0 14px;
      }
      &:hover {
        color: #444;
      }
      i {
        margin-right: 4px;
      }
    }
  }
}

.hum_slider {
  position: absolute;
  height: 60px;
  width: 96%;
  background: #0ebeff;
  left: 5px;
  top: 0;
  transition: 0.45s ease;
}

#Hum_home {
  &:checked {
    ~ {
      nav {
        label.hum_home {
          color: #fff;
        }
      }
    }
  }
}
#Hum_blog {
  &:checked {
    ~ {
      nav {
        label.hum_blog {
          color: #fff;
        }
        .hum_slider {
          top: 20%;
        }
      }
    }
  }
}
#Hum_code {
  &:checked {
    ~ {
      nav {
        label.hum_code {
          color: #fff;
        }
        .hum_slider {
          top: 40%;
        }
      }
    }
  }
}
#Hum_help {
  &:checked {
    ~ {
      nav {
        label.hum_help {
          color: #fff;
        }
        .hum_slider {
          top: 60%;
        }
      }
    }
  }
}
#Hum_about {
  &:checked {
    ~ {
      nav {
        label.hum_about {
          color: #fff;
        }
        .hum_slider {
          top: 80%;
        }
      }
    }
  }
}
input[type="radio"] {
  display: none;
}
